*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #083b4c;
}

h1{
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    color: white;
}

.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
}

.quadrato{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: #1389b2;
    margin: 10px;
}
.quadrato-verde{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: #0cd6a1;
    margin: 10px;
}

.quadrato-giallo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: #ffd166;
    margin: 10px;
}

.quadrato-rosso{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: #f0466f;
    margin: 10px;
}